@page "/"

@using DeskUI.Services

@inject WindowManager WindowManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<RadzenButton Text="Open OpenFirstComponent" Click="@OpenFirstComponent" />
<RadzenButton Text="Open SecondComponent" Click="@OpenSecondComponent" />