@page "/"

@using DeskUI.Services
@using DeskUI.Shared.Window

@inject WindowManager WindowManager

<PageTitle>Index</PageTitle>

<WindowHost />

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox"checked="@WindowManager.DarkModeColours" @onchange="ToggleTheme" />
    <span class="form-check-label">
        @(WindowManager.DarkModeColours ? "Dark" : "Light")
    </span>
</div>

<div class="desktop-icons">
    <button class="desktop-icon" @onclick="OpenFirstComponent">
        <i class="bi bi-file-earmark-text"></i>
        <span>First</span>
    </button>

    <button class="desktop-icon" @onclick="OpenSecondComponent">
        <i class="bi bi-window"></i>
        <span>Second</span>
    </button>
</div>
